body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

.overlay {
  background: rgba(255, 255, 255, 0.15);
  /* 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}
.modal-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;

  background-color: var(--glass-background);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px); */

  padding: 14px 28px;
  border-radius: var(--border-radius-btn);
  /* max-width: 600px; */
  min-width: 300px;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
