/* body.active-modal {
  overflow-y: hidden;
} */

.modal,
.overlay {
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}

.overlay {
  background: var(--dark);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}

.customize-car-container {
  width: 92dvw;
  margin-left: var(--margin-medium);
}

.customize-car-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 10dvh;
}

.car-details-btn {
  color: var(--white);
  font: var(--main-font);
  font-size: var(--font-size-small);
  padding: var(--padding-secondary-btn);
  border: var(--glass-border);
  border-radius: var(--border-radius-btn);
  background: var(--glass-background);
  cursor: pointer;
  width: 60dvw;
  height: var(--btn-height);
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-form-response);
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#car-details-btn {
  margin-top: var(--margin-form-response);
  margin-bottom: var(--margin-form-response);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.glass-btn {
  color: var(--white);
  font: var(--main-font);
  font-size: var(--font-size-small);
  padding: var(--padding-secondary-btn);
  border: var(--glass-border);
  border-radius: var(--border-radius-btn);
  background: var(--glass-background);
  cursor: pointer;
  width: var(--btn-width);
  height: var(--btn-height);
  margin-top: var(--margin-medium);
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.glass-btn:hover {
  background: var(--glass-background);
  color: var(--white);
}

.glass-btn.selected {
  color: var(--white);
  background: var(--glass-background);
}

/* #edit-carName {
  cursor: pointer;
  font-size: var(--font-size-small);
  text-align: left;
  width: 90dvw;
} */
/* #edit-carName::placeholder {
  color: var(--white);
} */

.color-picker-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}

.car-color-picker {
  appearance: none; /* Removes browser-specific styling */
  -webkit-appearance: none; /* For WebKit-based browsers like Safari */
  -moz-appearance: none; /* For Firefox */

  color: var(--white);
  background: none;
  font-family: var(--main-font);
  height: 40px;
  width: 60px;
  border: var(--glass-border);
  cursor: pointer;
  border-radius: 0;
}

.icon {
  height: 14px;
  width: 14px;
  margin-right: 4px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

/* #delete-car-btn {
  position: relative;
  margin-left: auto;
  margin-right: var(--margin-medium);
  color: var(--white);
  cursor: pointer;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: 10px;
  border: var(--glass-border);
  border-radius: var(--border-radius-btn);
  background: var(--glass-background);
  margin-top: var(--margin-small);
} */

#customize-car-delete-btn {
  position: fixed;
  top: 15px;
  right: 15px;
}
