.car-container {
  /* width: 100%; Adjust this value as needed */
  height: auto; /* Let height be automatic to maintain aspect ratio */
  display: flex; /* Use flexbox to center align if needed */
  justify-content: center; /* Center the SVG horizontally */
  align-items: center; /* Center the SVG vertically */
  overflow: hidden; /* Hide overflow if SVG is bigger */
  margin: 0 auto; /* Center the container horizontally */
  position: relative;
}

.car-container svg {
  z-index: 1;
}

/* .front-seats {
  width: 100%;
  background: white;
} */

/* .car-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.seat-container {
  position: absolute; /* Make the seat container float on top of the car */
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  display: flex;
  flex-direction: column; /* Align rows of seats vertically */
  justify-content: space-between;
  align-items: center;
}

.front-seats,
.middle-seats,
.back-seats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  height: 5vh;
  width: 90%;
  pointer-events: auto; /* Ensure seat buttons are clickable */
  gap: 2%;
}

.front-seats {
  margin-top: 80%;
}

.back-seats {
  margin-bottom: 40%;
}
.seat-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 2;
}

.seat-button:hover {
  background-color: #ddd;
}

/* numSeats */

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 30%;
  height: 10px;
  border-radius: 5px;
  background: #34bc34;
  outline: none;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  box-shadow: 0 0 10px #04aa6d, 0 0 5px #04aa6d, 0 0 30px rgba(0, 255, 0, 0.5); /* Green glow effect */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #000000; /* Green background */
  cursor: pointer; /* Cursor on hover */
  box-shadow: 0 0 10px #04aa6d, 0 0 5px #04aa6d, 0 0 30px rgba(0, 255, 0, 0.5); /* Green glow effect */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  box-shadow: 0 0 10px #04aa6d, 0 0 5px #04aa6d, 0 0 30px rgba(0, 255, 0, 0.5); /* Green glow effect */
}
