.full-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
}

.container-wrapper {
  border-radius: 1.25rem;
  overflow: clip;
  /* max-width: 1500px; */
  padding: 5px;
  width: 80dvw;
  height: 85dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Container with gradient border and glow */
.container {
  padding: 20px;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
  /* max-width: 1500px; */
  margin: auto;
  width: 100%;
  height: -webkit-fill-available; /* Fill the parent container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, Edge */
}
/* Center elements and space them nicely */
.container > * {
  margin-bottom: 20px;
}

.form-question {
  font-size: 2.25em;
  font-family: var(--main-font);
  margin-bottom: 2.5rem;
}

.text-input {
  border: 2px solid rgb(52, 189, 52);
  border-radius: 15px;
  background-color: rgba(75, 254, 75, 0.323);
  height: 50px;
  width: 30vw;
  padding: 15px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-family: var(--main-font);
  font-size: 1.3em;
}

.text-input::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--main-font);
  font-size: 1.3rem;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Position buttons on opposite sides */
  width: 50%; /* Match the width of the input field */
}

#left-button {
  margin-left: auto;
}

#right-button {
  margin-right: auto;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
}

.not-sure-btn {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  box-sizing: border-box;
}

.calendar {
  margin-top: var(--margin-top-button);
}
