.full-screen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  background-size: cover;
  background-attachment: fixed;
}

/* get the image to stretch to the whole screen  */

@media (max-width: 768px) {
  .full-screen-wrapper {
    overflow: scroll;
    background-attachment: scroll;
  }
}

/* .container-wrapper {
  border-radius: 1.25rem;
  overflow: clip;
  padding: 5px;
  width: 80dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* Container with gradient border and glow */
/* .container {
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
  margin: auto;
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
} */

/* .container::-webkit-scrollbar {
  display: none;
}

.container > * {
  margin-bottom: 20px;
} */

.text-input {
  border: 2px solid rgb(52, 189, 52);
  border-radius: 15px;
  background-color: #4bfe4b52;
  height: 50px;
  width: 30vw;
  padding: 15px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-family: var(--main-font);
  font-size: 1.3em;
}

.text-input::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--main-font);
  font-size: 1.3rem;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Position buttons on opposite sides */
  width: 50%; /* Match the width of the input field */
}

#left-button {
  margin-left: auto;
}

#right-button {
  margin-right: auto;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
}

.not-sure-btn {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  height: var(--height-button);
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  box-sizing: border-box;
}

.calendar {
  margin-top: var(--margin-small);
}
