.form-question-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 12dvh;
  margin-left: var(--margin-medium);
  width: 95dvw;
}

.form-question {
  font-family: var(--main-font);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-btn);
  /* margin-top: var(--margin-form-field); */
  margin-bottom: 0;
  text-align: center;
}

.form-response {
  color: var(--white);
  cursor: pointer;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: var(--padding-form-response);
  border: var(--glass-border);
  border-radius: var(--border-radius-btn);
  background: var(--glass-background);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); */
  /* backdrop-filter: blur(7.6px); for desktop */
  /* -webkit-backdrop-filter: blur(7.6px); */
  width: 90dvw;
  margin-top: var(--margin-form-response);
  text-align: center;
}

.form-response::placeholder {
  color: var(--placeholder);
}

.form-response:focus {
  border: 1px solid var(--main-green);
  outline: none; /* Removes the focus outline */
  box-shadow: var(--green-glow);
}

.form-response.error {
  border: 1px solid var(--red);
  box-shadow: var(--red-glow);
}

.form-response.error:focus {
  box-shadow: var(--red-glow);
}

.form-response.disabled {
  cursor: default;
  padding: none;
  border: none;
  margin: 0;
}

/* transform: offsets the button by half of its own width, centering it horizontally */

.glass-effect {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}

#trip-name {
  font-size: var(--font-size-large);
  text-align: center;
}

#more-options-btn {
  width: 60dvw;
  /* width: 75%; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.secondary-btn {
  color: var(--main-green);
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  /* padding: var(--padding-secondary-btn); */
  border: 1px solid var(--main-green);
  border-radius: var(--border-radius-btn);
  margin-top: var(--margin-btn);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  height: var(--btn-height);
}

.secondary-btn.active {
  box-shadow: var(--green-glow);
}

.tertiary-btn {
  color: var(--white);
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  background: none;
  border: none;
  position: fixed;
  left: 5%;
  bottom: 0;
  margin-bottom: var(--margin-btn);
  height: var(--btn-height);
}
