.customize-trip {
  display: flex;
  flex-direction: column;
  height: 70vh;
  min-height: 40vh;
  width: 60vw;
  /* justify-content: space-between; */
}

/* trip title  */

.trip-title {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-title);
  height: var(--height-title);
  border: var(--transparent-border);
  border-radius: var(--border-radius);
  padding: var(--padding-title);
  align-items: flex-start;
  cursor: pointer;
  padding-left: 2vw;
}

.trip-title::placeholder {
  color: white;
}

/* optional buttons for customization  */
.customize-trip-btns {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  width: 50%;
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  margin-top: var(--margin-top-button);
  padding: var(--paddding-button);
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
  padding-left: 2vw;
}

/* set a date  */

.calendar-button-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.calendar-button {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  margin-top: var(--margin-top-button);
  box-sizing: border-box;
}

.day-picker {
  width: 50%;
  margin-top: var(--margin-top-button);
}

/* set a destination  */
#destination-button {
  width: 100%;
}

.background-container {
  border: var(--transparent-border);
  margin-top: var(--margin-top-button);
}

.glowColor {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: 2.5vh;
  width: 30%;
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  padding: var(--paddding-button);
  display: flex;
  align-items: center;
  /* align-items: flex-start; */
  text-align: left;
  cursor: pointer;
}

.continue-button-container {
  margin-top: auto;
}

.glow-button {
  background-color: black;
  border-radius: 5px;
  border: 2px solid rgb(52, 189, 52);
  box-shadow: 0 0 5px #04aa6d, 0 0 10px #04aa6d, 0 0 20px #00bfff; /* Glow effect */
  color: #ebe7ef;
  padding: 7px 14px;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 1rem;
  cursor: pointer;
  flex: none; /* Prevent them from taking equal space */
}

#new-car-btn {
  width: 50%;
}

.glow-button:hover {
  background-color: rgb(52, 189, 52); /* Green background on hover */
  box-shadow: 0 0 5px #04aa6d, 0 0 10px #04aa6d, 0 0 15px #00bfff;
}

/* #left-button {
  margin-left: auto;
} */
/* 
#right-button {
  margin-right: auto;
} */
