/* set a time */
.time-picker-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.time-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable select {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  margin-top: var(--margin-top-button);
  padding: var(--paddding-button);
  width: 80px;
  padding: 10px;
  cursor: pointer;
}

.confirm-button {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  margin-top: var(--margin-top-button);
  padding: var(--paddding-button);
  align-items: flex-start;
  text-align: left;
  cursor: pointer;
}
