.render-car-container {
  height: 20dvh;
  display: flex;
  margin: 0 auto;
  position: relative;
  margin-left: 50%;
  margin-bottom: 10%;
}

.render-car-container svg {
  overflow: hidden;
}

.render-seat-container {
  position: absolute;
  top: 40%;
  height: 60%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;
  box-sizing: border-box;
}

.render-seat-row {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  max-width: 80%;
  pointer-events: auto; /* make seat buttons are clickable */
  gap: 1.5%;
}

.render-seat-input {
  background-color: #f0f0f085; /* Input background color */
  border: var(--transparent-border);
  padding: 0.5px; /* Padding for inputs */
  cursor: pointer; /* Change cursor on hover */
  border-radius: 5px; /* Rounded corners */
  height: 3vh;
  width: 30%; /* Set input width */
  text-align: center;
  font-family: var(--main-font);
  pointer-events: auto; /* make seat buttons are clickable */
  font-size: 2vw;
}

.render-seat-inputs:hover {
  background-color: #ddd;
}

/* .car-color {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  width: 50%;
  margin-top: var(--margin-top-button);
  padding: var(--paddding-button);
  align-items: flex-start;
  text-align: left;
  cursor: pointer;
} */

.custom-car-option {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  /* width: 50%; */
  margin-top: var(--margin-top-button);
  padding: var(--paddding-button);
  align-items: flex-start;
  text-align: left;
  cursor: pointer;
}

.car-color-picker {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: 2.5dvh;
  width: 30%;
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  margin-top: var(--margin-top-button);
  padding: var(--paddding-button);
  align-items: flex-start;
  text-align: left;
  cursor: pointer;
}

/* numSeats */

.numSeatsSlider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  height: 1dvh;
  width: 30%;
  border-radius: var(--border-radius-button);
  outline: none;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  /* box-shadow: 0 0 10px #04aa6d, 0 0 5px #04aa6d, 0 0 30px rgba(0, 255, 0, 0.5); Green glow effect */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.numSeatsSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2dvh;
  height: 2dvh;
  border-radius: 50%;
  background: #000000;
  cursor: pointer; /* Cursor on hover */
}

.numSeatsSlider::-moz-range-thumb {
  width: 3dvw; /* Set a specific slider handle width */
  height: 3dvh; /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
}
