/* .car-name {
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  
} */

.render-car-container {
  height: 20dvh;
  display: flex;
  margin: 0 auto;
  position: relative;
  /* margin-left: 50%; */
  /* margin-bottom: 10%; */
}

.render-car-container svg {
  overflow: hidden;
}

.render-seat-container {
  position: absolute;
  top: 40%;
  height: 60%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;
  box-sizing: border-box;
}

.render-seat-row {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  max-width: 80%;
  pointer-events: auto; /* make seat buttons are clickable */
  gap: 1%;
}

.seat-input {
  background-color: #f0f0f085;
  border: var(--transparent-border);
  padding: 0.5px;
  cursor: pointer;
  border-radius: 5px;
  height: 2dvh;
  width: 25%;

  text-align: center;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  pointer-events: auto;
  font-size: 16px;
}

.seat-buttons {
  background-color: #f0f0f085;
  border: var(--transparent-border);
  border-radius: 5px;
}

.render-seat-inputs:hover {
  background-color: #ddd;
}

/* .car-color {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  width: 50%;
  margin-top: var(--margin-top-button);
  padding: var(--paddding-button);
  align-items: flex-start;
  text-align: left;
  cursor: pointer;
} */

.custom-car-option {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  margin-top: 1dvh;
  /* padding: var(--paddding-button); */
  align-items: flex-start;
  text-align: left;
  cursor: pointer;
}

.car-color-picker {
  color: white;
  background: none;
  font-family: var(--main-font);
  height: 2.5dvh;
  width: 30%;
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  padding: var(--paddding-button);
  align-items: flex-start;
  text-align: left;
  cursor: pointer;
}
