/* Splitting the CSS Code into  component-specific files*/
header {
  text-align: center;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans", sans-serif;
}

header h1 {
  color: white;
  margin: 0 0 1rem 0;
  font-size: 3rem;
  text-align: center;
  font-family: "LicensePlate", sans-serif;
}

header h1:hover {
  text-shadow: 0 0 10px #fbee3e, 0 0 20px #fbff84, 0 0 30px #eaff00;
}

#destination-message {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fefeffd3;
}

#carpooling-message {
  margin: 6rem 0 0 0;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fefeffd3;
}

.font-face {
  font-family: "LicensePlate", sans-serif;
  src: url("/Users/ern/Documents/ernkerr/Carpoolio/src/assets/fonts/LicensePlate.ttf")
    format("truetype");
  font-style: italic;
  font-weight: 200;
  font-display: auto;
}
