.form-question {
  font-size: var(--font-size-small);
  justify-content: center;
  text-align: center;
}

/* .add-car-btn {
  position: relative;
  width: 50%;
  margin-top: 80px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
} */

.add-car-btn {
  position: relative;
  width: 50%;
  margin-top: 80px;
}

#driverName {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.driver-name-input {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.driver-name-input.hidden {
  visibility: hidden;
}

.numSeatsSlider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  margin-left: 4%;
  width: 90%;
  height: 5px;
  border: var(--glass-border);
  border-radius: 20px;
  background: linear-gradient(90deg, var(--main-green), rgba(0, 255, 0, 0.8));
  outline: none;
  transition: opacity 0.2s;
  box-shadow: var(--green-glow);

  /* margin-top: var(); */
  /* margin-top: var(--margin-form-field); */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.numSeatsSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background: rgb(35, 205, 35);
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border: 5px var(--glass-border);
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
  box-shadow: 0 0 10px #04aa6d, 0 0 5px #04aa6d, 0 0 30px rgba(0, 255, 0, 0.5);
}

.numSeatsSlider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: linear-gradient(90deg, var(--main-green), rgba(0, 255, 0, 0.8));
  border: 2px var(--glass-border);
  cursor: pointer; /* Cursor on hover */
  box-shadow: var(--green-glow);
}
