.form-question {
  font-size: var(--font-size-small);
  justify-content: center;
  text-align: center;
}

.add-car-btn {
  position: relative;
  width: 50%;
  margin-top: 80px;
}

/* .glass-buttons-container {
  display: flex;
  gap: 5%;
  width: 100%;
  justify-content: center;
  margin-top: var(--margin-form-response);
} */

.glass-btn {
  color: var(--white);
  font: var(--main-font);
  font-size: var(--font-size-small);
  padding: var(--padding-secondary-btn);
  border: var(--glass-border);
  border-radius: var(--border-radius-btn);
  background: var(--glass-background);
  cursor: pointer;
  width: var(--btn-width);
  height: var(--btn-height);
  margin-top: var(--margin-medium);
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.glass-btn:hover {
  background: var(--glass-background);
  color: var(--white);
}

.glass-btn.selected {
  color: var(--white);
  background: var(--glass-background);
  border-color: var(--main-green);
  box-shadow: var(--green-glow);
}

#car-details-btn {
  margin-top: var(--margin-form-response);
  margin-bottom: var(--margin-form-response);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#driverName {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.driver-name-input {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.driver-name-input.hidden {
  visibility: hidden;
}

.numSeatsSlider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  margin-left: 4%;
  width: 90%;
  height: 5px;
  border: var(--glass-border);
  border-radius: 20px;
  background: linear-gradient(90deg, var(--main-green), rgba(0, 255, 0, 0.8));
  outline: none;
  transition: opacity 0.2s;
  box-shadow: var(--green-glow);

  /* margin-top: var(); */
  /* margin-top: var(--margin-form-field); */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.numSeatsSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background: rgb(35, 205, 35);
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border: 5px var(--glass-border);
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
  box-shadow: 0 0 10px #04aa6d, 0 0 5px #04aa6d, 0 0 30px rgba(0, 255, 0, 0.5);
}

.numSeatsSlider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: linear-gradient(90deg, var(--main-green), rgba(0, 255, 0, 0.8));
  border: 2px var(--glass-border);
  cursor: pointer; /* Cursor on hover */
  box-shadow: var(--green-glow);
}

/* can delete if not using toggle */

.checkbox {
  --blue: var(--main-green);
  --g08: var(--glass-background);
  --g04: var(--main-white);
  text-align: center;
}

.checkbox .tgl {
  display: none;
}
.checkbox .tgl,
.checkbox .tgl:after,
.checkbox .tgl:before,
.checkbox .tgl *,
.checkbox .tgl *:after,
.checkbox .tgl *:before,
.checkbox .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox .tgl::selection,
.checkbox .tgl:after::selection,
.checkbox .tgl:before::selection,
.checkbox .tgl *::selection,
.checkbox .tgl *:after::selection,
.checkbox .tgl *:before::selection,
.checkbox .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 80px;
  height: 30px;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: var(--font-size-small);
  /* font-weight: 400; */
  color: #fff;
}
.checkbox .tgl + .tgl-btn:after,
.checkbox .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}
.checkbox .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox .tgl + .tgl-btn:before {
  display: inline;
  position: absolute;
  top: 7px;
}
.checkbox .tgl:checked + .tgl-btn:after {
  left: 56.5%;
}

.checkbox .tgl + .tgl-btn {
  background: var(--g08);
  border-radius: 20rem;
  /* padding: 2px; */
  transition: all 0.4s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.checkbox .tgl + .tgl-btn:after {
  border-radius: 50%;
  background: var(--white);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.checkbox .tgl + .tgl-btn:before {
  content: "No";
  left: 40px;
  color: var(--g04);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkbox .tgl + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}
.checkbox .tgl + .tgl-btn:active:after {
  padding-right: 0.4em;
}
.checkbox .tgl:checked + .tgl-btn {
  background: var(--main-green);
}
.checkbox .tgl:checked + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}
.checkbox .tgl:checked + .tgl-btn:active:after {
  margin-left: -0.4em;
}
.checkbox .tgl:checked + .tgl-btn:before {
  content: "Yes";
  left: 6px;
  color: #fff;
}
