.hamburger-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: var(--main-font);
  font-size: 90px;
  padding: none;
  background: none;
  border: none;
  border-radius: var(--border-radius-btn);
  position: absolute;
  top: 10px;
  right: 10px;
  height: 44px;
  width: 44px;
  z-index: 3;
}
.more-icon {
  height: 8px;
  width: 25px;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 55px; */
  right: 0;
  height: 100%;
  width: 50%;
  /* border: var(--glass-border); */
  border-radius: var(--border-radius-btn);

  background-color: var(--glass-background);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  z-index: 2;
}

.option-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55px;
  width: 100%;
}

.option-btn {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: 10px;
  background: none;
  border: none;
  border-bottom: var(--glass-border);

  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
/* button guidelines for mobile: 

font-size: 16px;
height: 44px;
width: 44px;

at least 8-10px between btns  */
