.invite-btn {
  color: var(--white);
  font-family: var(--main-font);
  font-size: 16px;
  letter-spacing: var(--letter-spacing-btn);
  background: var(--glass-background);
  border: var(--glass-border);
  border-radius: var(--border-radius-btn);
  height: var(--btn-height);
  /* position: absolute;
  bottom: 10px;
  right: 10px; */
  cursor: pointer;
  width: 180px;
  height: 60px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 44px;
  width: 44px;
  z-index: 10;
}
