.new-trip-btn {
  all: unset; /* Resets all button defaults */
  color: white;
  font: var(--main-font);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  width: 120px;
  height: 60px;
  border-radius: var(--border-radius-button);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: var(--margin-large);
  margin-left: var(--margin-left-medium);
  overflow: hidden;
}

.saveBtn {
  color: white;
  font: var(--main-font);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  width: 120px;
  height: 60px;
  border-radius: var(--border-radius-button);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: var(--margin-large);
  margin-left: var(--margin-left-medium);
  overflow: hidden;
}

.editBtn {
  width: 120px;
  height: 60px;
  cursor: pointer;
  border-radius: var(--border-radius-button);

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: var(--margin-large);
  margin-left: var(--margin-left-medium);
  overflow: hidden;
}

.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  z-index: 1;
  transform: scale(0);

  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
/* .editBtn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
} */

.editBtn svg {
  height: 17px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 55px;
  height: 1.5px;
  position: absolute;
  bottom: 19px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}

@media (max-width: 768px) {
  .bottom-nav-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100dvw;
    height: 56px;
    background-color: var(--dark);
  }

  .editBtn {
    width: 100px;
    height: 48px;
    margin-left: var(--margin-medium);
    margin-bottom: var(--margin-small);
  }
  .editBtn::after {
    background-color: rgba(255, 255, 255, 0);
  }
  .saveBtn {
    font-size: var(--font-size-extra-small);
    width: 25dvw;
    height: 48px;
    margin-left: 5dvw;
    margin-bottom: var(--margin-small);
  }

  .new-trip-btn {
    font-size: var(--font-size-extra-small);
    width: 25dvw;
    height: 48px;
    margin-left: 5dvw;
    margin-bottom: var(--margin-small);
  }
}

/* margin: top right bottom left; */
