.new-trip-btn {
  all: unset; /* Resets all button defaults */
  color: white;
  font: var(--main-font);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  width: 120px;
  height: 60px;
  border-radius: var(--border-radius-button);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: var(--margin-large);
  margin-left: var(--margin-left-medium);
  overflow: hidden;
}

/* .saveBtn {
  color: white;
  font: var(--main-font);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  width: 120px;
  height: 60px;
  border-radius: var(--border-radius-btn);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: var(--margin-large);
  margin-left: var(--margin-left-medium);
  overflow: hidden;
} */

/* @media (max-width: 768px) {
  .bottom-nav-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100dvw;
    height: 56px;
    background-color: var(--dark);
  }

  .editBtn {
    width: 100px;
    height: 48px;
    margin-left: var(--margin-medium);
    margin-bottom: var(--margin-small);
  }
  .editBtn::after {
    background-color: rgba(255, 255, 255, 0);
  }
  .saveBtn {
    font-size: var(--font-size-extra-small);
    width: 25dvw;
    height: 48px;
    margin-left: 5dvw;
    margin-bottom: var(--margin-small);
  }

  .new-trip-btn {
    font-size: var(--font-size-extra-small);
    width: 25dvw;
    height: 48px;
    margin-left: 5dvw;
    margin-bottom: var(--margin-small);
  }
} */

/* margin: top right bottom left; */
