.autocomplete-component {
  color: var(--white);
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: 10px 0px 10px 10px;
  background: none;
  border: none;
  width: 90dvw;
  text-align: center;
}

.pac-container {
  font-family: var(--main-font);
  /* font-size: var(--font-size-small); */
  background-color: var(--v-dark);
  border: var(--glass-border);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
}

.pac-item {
  color: rgb(197, 197, 197);
  border-top: 1px solid rgba(173, 173, 173, 0.3);
  font-size: 14px;
  padding: 10px 0px 5px 5px;
  border-radius: var(--border-radius-btn);
}

.pac-item-query {
  color: white;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  /* border-radius: var(--border-radius-btn); */
}

.pac-matched {
  color: white;
  font-weight: 800;
  font-size: var(--font-size-small) !important;
}

.pac-item:hover {
  background-color: var(--v-dark);
}

.pac-item-selected:hover {
  background-color: var(--v-dark);
}

.destination-customize-trip {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
  color: var(--white);
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  /* padding: var(--padding-form-response); */
  border: none;
  background: none;
  margin-top: var(--margin-form-response);
  /* text-align: center; */
  cursor: default;
  padding: none;
  border: none;
}

/* .form-response {
  color: var(--white);
  cursor: pointer;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: var(--padding-form-response); */
/* border: var(--glass-border); */
/* border-radius: var(--border-radius-btn); */
/* background: var(--glass-background); */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); */
/* backdrop-filter: blur(7.6px); for desktop */
/* -webkit-backdrop-filter: blur(7.6px); */
/* width: 90dvw; */
/* margin-top: var(--margin-form-response);
  text-align: center;
} */
