.pac-container {
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  background-color: var(--dark);
  border: var(--glass-border);
  border-radius: var(--border-radius-btn);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}

.pac-item-query {
  color: white;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-btn);
}

.pac-matched {
  color: white;
  font-size: var(--font-size-small);
}

.pac-item {
  color: rgb(215, 215, 215);
  border-top: 1px solid rgba(173, 173, 173, 0.3);
  font-size: var(--font-size-small);
  padding: 10px;
}

.pac-item:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.pac-item-selected:hover {
  background-color: rgba(52, 114, 63, 0.5);
  color: rgba(52, 114, 63, 0.15);
}

.destination-customize-trip {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
  color: var(--white);
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  /* padding: var(--padding-form-response); */
  border: none;
  background: none;
  margin-top: var(--margin-form-response);
  /* text-align: center; */
  cursor: default;
  padding: none;
  border: none;
}

/* .form-response {
  color: var(--white);
  cursor: pointer;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: var(--padding-form-response); */
/* border: var(--glass-border); */
/* border-radius: var(--border-radius-btn); */
/* background: var(--glass-background); */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); */
/* backdrop-filter: blur(7.6px); for desktop */
/* -webkit-backdrop-filter: blur(7.6px); */
/* width: 90dvw; */
/* margin-top: var(--margin-form-response);
  text-align: center;
} */
