#new-trip {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-decoration: none;
    cursor: pointer;
    
}

#new-trip button{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 15px 25px;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 5px #FF4500, 0 0 10px #ff1100, 0 0 20px #ff1100; /* Red glow */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
    cursor: pointer;
    font-family: "DM Sans", sans-serif; 
    font-size: 1.5em;
    
}

#new-trip button:hover {
    background-color: rgb(52, 189, 52);
    color: #ebe7ef;
    box-shadow: 0 0 5px #04AA6D, 0 0 15px #04AA6D,0 0 30px rgba(0, 255, 0, 0.5); /* Green glow effect */
}

#new-trip button:active {
    background-color: rgb(52, 189, 52);
    color: #ebe7ef;
    box-shadow: 0 0 10px #04AA6D, 0 0 5px #04AA6D,0 0 30px rgba(0, 255, 0, 0.5); /* Green glow effect */
}

/* box-shadow: 0 0 5px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00BFFF; Electric blue glow */