#new-trip {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 12px;
    text-decoration: none;
}

#new-trip button{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 15px 25px;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 5px #04AA6D, 0 0 10px #04AA6D, 0 0 15px #00BFFF; /* Electric blue glow */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */


}

#new-trip button:hover {
    background-color: #0000f68d;
    color: #ebe7ef;
    box-shadow: 0 0 5px #04AA6D, 0 0 10px #04AA6D, 0 0 20px #00BFFF; /* Glow intensifies on hover */

}

#new-trip button:active{
    background-color: #0000f68d; /* Maintain hover background on active */
    box-shadow: 0 0 5px #04AA6D, 0 0 10px #04AA6D, 0 0 15px #00BFFF; /* Maintain glow when pressed */
}