/* trip title  */
.trip-title {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-title);
  padding: var(--padding-title);
  align-items: flex-start;
  cursor: pointer;
  padding-left: 0.5dvw;
  letter-spacing: 0.07em;
}

.trip-title::placeholder {
  color: white;
  text-align: left;
}
