/* trip title  */
.trip-name {
  width: 80%;
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: var(--font-size-extra-large);
  /* font-weight: var(--font-weight-bold); */
  letter-spacing: var(--letter-spacing-title);
  padding: var(--padding-title);
  border-radius: var(--border-radius);
  margin-left: var(--margin-left);
  /* align-items: flex-start; */
}

.trip-name::placeholder {
  color: white;
  text-align: left;
}

.trip-name[disabled] {
  cursor: default;
}

/* Media query for phones (screen width 768px or smaller) */
@media (max-width: 768px) {
  .trip-name {
    width: 90dvw; /* Make the input wider for smaller screens */
    font-size: var(--font-size-large);
    margin-left: var(--margin-left-small);
    align-items: center;
  }
}
