/* trip title  */
.trip-name {
  width: 80%;
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: var(--font-size-extra-large);
  /* font-weight: var(--font-weight-bold); */
  letter-spacing: var(--letter-spacing-title);
  padding: var(--padding-title);
  border-radius: var(--border-radius);
  margin-left: var(--margin-left);
  /* align-items: flex-start; */
}

.trip-name::placeholder {
  color: white;
  text-align: left;
}

.trip-name[disabled] {
  cursor: default;
}
