/* set a time */
.time-picker-container {
  width: 40dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5dvw;
  margin-top: var(--margin-small);
  box-sizing: border-box;
}

.time-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 20%;
}

.scrollable select {
  width: 100%;
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  border: none;
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  padding: 0.2dvw;

  cursor: pointer;
  box-sizing: border-box;
}

.time-calendar-button {
  color: white;
  background: none;
  font-size: var(--font-size-small);
  height: 100%;
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  cursor: pointer;
  box-sizing: border-box;
  width: 20%;
}
