/* set a time */
.time-picker-container {
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: var(--margin-top-button);
}

.time-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable select {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  margin-top: var(--margin-top-button);
  padding: var(--paddding-button);
  /* width: 80px; */
  padding: 10px;
  cursor: pointer;
}

.confirm-button {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  padding: var(--paddding-button);
  align-items: center;
  text-align: center;
  cursor: pointer;
}

time-button-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.time-calendar-button {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: var(--height-button);
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  margin-top: var(--margin-top-button);
  box-sizing: border-box;
}
