/* set a time */
.time-picker-container {
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: var(--margin-top-button);
}

.time-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 6dvw;
}

.scrollable select {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  border: none;
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  margin-top: var(--margin-top-button);
  padding: var(--paddding-button);
  padding: 10px;
  cursor: pointer;
}

.time-calendar-button {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  height: 100%;
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  box-sizing: border-box;
}
