/* Time picker container */
.time-picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-right: 5dvw;
  /* margin-left: 5dvw; */
  /* margin-left: 20px; */
}

/* Time column without scrollbars */
.time-column {
  position: relative;
  height: 60px; /* Visible area */
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80px;
  text-align: center;
  scrollbar-width: none;
  padding-bottom: 60px;
}

.time-column::-webkit-scrollbar {
  display: none;
}

/* Scrollable inner div styling */
.scrollable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for each time option */
.time-option {
  font-size: var(--font-size-medium);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4; /* Faded opacity for non-selected items */
  transition: opacity 0.2s, transform 0.2s;
}

/* Selected time styling */
.time-option.selected {
  font-size: var(--font-size-large);
  font-weight: bold;
  opacity: 1;
  align-items: center; /* Center the selected item */
  justify-content: center; /* Center text horizontally */
  transform: scale(1.1); /* Slight scale effect for selected item */
}

/* Button container styling */
.time-calendar-button-container {
  display: flex;
  gap: 60px;
  /* justify-content: center; */
  margin-top: 20px;
  margin-left: 5dvw;
}

#save-btn {
  font-weight: var(--font-weight-bold);
}

/* Prevent background scroll when modal is open */
body.active-modal {
  overflow: hidden;
}
