.car-and-details-container {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-medium);
}

/* .car-details-container {
  display: flex;
  flex-direction: column;
  background: purple;
} */

.carName-and-edit-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 40px;
  /* gap: 45dvw; */
}

.carName {
  color: var(--white);
  font-family: var(--main-font);
  font-size: var(--font-size-medium);
  border: none;
  background: none;
  position: relative;
  width: 75%;
  left: 50dvw;
  transform: translateX(-50%);
  text-align: center;
}

#edit-car-btn {
  position: relative;
  margin: 4dvw 2dvw 0 0;
  height: 40px;
  width: 50px;
}

.gear-icon {
  height: 18px;
  width: 18px;
}

.departure-date-time-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: var(--margin-small);
  position: relative;
  left: 50dvw;
  transform: translateX(-50%);
  text-align: center;
}

.departure-date {
  color: var(--white);
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  border: none;
  background: none;
}

.departure-time {
  font-size: var(--font-size-small);
  color: var(--white);
  font-family: var(--main-font);
  border: none;
  background: none;
}

.render-car-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.render-car-container svg {
  overflow: hidden;
}

.render-seat-container {
  position: absolute;
  top: 40%;
  height: 60%;
  width: 40dvw;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;
  box-sizing: border-box;
}

.render-seat-row {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  max-width: 80%;
  pointer-events: auto; /* make seat buttons are clickable */
  gap: 1%;
}

.seat-input {
  background-color: rgba(240, 240, 240, 0.65);
  border: var(--transparent-border);
  padding: 1px;
  cursor: pointer;
  border-radius: 5px;
  height: 3dvh;
  width: 30%;

  text-align: center;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  pointer-events: auto;
  font-size: 18px;
}

.seat-buttons {
  background-color: rgba(240, 240, 240, 0.675);
  border: var(--transparent-border);
  border-radius: 5px;
}

.render-seat-inputs:hover {
  background-color: #ddd;
}

.custom-car-option {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  /* height: var(--height-button); */
  /* width: 50%; */
  margin-top: var(--margin-small);
  /* padding: var(--paddding-button); */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

/* delete?  */
.car-name {
  color: white;
  background: none;
  border: none;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  width: 75%; /* Take full width of parent */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  margin: 0;
  margin-top: var(--margin-small);
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.car-name::placeholder {
  color: white; /* Change placeholder text color to white */
  opacity: 1; /* Optional: Ensure full opacity for better visibility */
  font-family: var(--main-font);
}

/* .customize-car-btn-container {
  display: flex;
  flex-direction: row;
} */

.customize-car-btn {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: 10px 10px 10px 10px;
  border-radius: var(--border-radius-button);
}

#delete-car-btn {
  position: relative;
}

@media (max-width: 768px) {
  .render-car-container svg {
    width: 100dvw;
    height: 50dvh;
  }

  .render-seat-container {
    top: 50%;
    width: 100dvw;
  }

  .seat-input {
    padding: 1px;
    cursor: pointer;
    border-radius: 5px;
    height: 3dvh;
    width: 30%;

    text-align: center;
    font-family: var(--main-font);
    font-size: var(--font-size-small);
    pointer-events: auto;
    font-size: 18px;
  }

  .custom-car-option {
    margin-top: var(--margin-large);
  }
}

.clock-icon {
  height: 14px;
  width: 14px;
  margin-left: 6px;
  vertical-align: middle;
  position: relative;
  top: 3px;
}
