.car-and-details-container {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-form-field);
}

.car-details-container {
  display: flex;
  flex-direction: column;
}

.carName-and-edit-container {
  display: flex;
  align-items: center; /* Align items vertically if needed */
  flex-direction: row;
}

.carName {
  color: var(--white);
  font-family: var(--main-font);
  font-size: var(--font-size-medium);
  padding: var(--padding-primary-btn);
  /* border: 1px solid var(--main-green); */
  border: none;
  border-radius: var(--border-radius-btn);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  position: absolute;
  left: 50dvw;
  transform: translateX(-50%);
  text-align: center;
  /* width: 60%; */
}

#edit-car-btn {
  position: relative;
  margin-left: auto;
  margin-right: var(--margin-medium);
  width: 60px;
}

#car-details-btn {
  margin-top: var(--margin-form-response);
  margin-bottom: var(--margin-form-response);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.render-car-container {
  /* height: 64dvh; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  /* background: rgba(122, 231, 98, 0.128); */
  /* margin-left: 50%; */
  /* margin-bottom: 10%; */
  /* overflow: hidden; */
}

.render-car-container svg {
  overflow: hidden;
}

.render-seat-container {
  position: absolute;
  top: 40%;
  height: 60%;
  width: 40dvw;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;
  box-sizing: border-box;
}

.render-seat-row {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  max-width: 80%;
  pointer-events: auto; /* make seat buttons are clickable */
  gap: 1%;
}

.seat-input {
  background-color: #f0f0f0b0;
  border: var(--transparent-border);
  padding: 1px;
  cursor: pointer;
  border-radius: 5px;
  height: 3dvh;
  width: 30%;

  text-align: center;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  pointer-events: auto;
  font-size: 18px;
}

.seat-buttons {
  background-color: #f0f0f0ac;
  border: var(--transparent-border);
  border-radius: 5px;
}

.render-seat-inputs:hover {
  background-color: #ddd;
}

.custom-car-option {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  /* height: var(--height-button); */
  /* width: 50%; */
  margin-top: var(--margin-small);
  /* padding: var(--paddding-button); */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

/* delete?  */
.car-name {
  color: white;
  background: none;
  border: none;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  width: 75%; /* Take full width of parent */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  margin: 0;
  margin-top: var(--margin-small);
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.car-name::placeholder {
  color: white; /* Change placeholder text color to white */
  opacity: 1; /* Optional: Ensure full opacity for better visibility */
  font-family: var(--main-font);
}

.customize-car-btn-container {
  display: flex;
  flex-direction: row;
}

.customize-car-btn {
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: 10px 10px 10px 10px;
  border-radius: var(--border-radius-button);
}

#delete-car-btn {
  position: relative;
}

@media (max-width: 768px) {
  .render-car-container svg {
    width: 100dvw;
    height: 50dvh;
  }

  .render-seat-container {
    top: 50%;
    width: 100dvw;
  }

  .seat-input {
    padding: 1px;
    cursor: pointer;
    border-radius: 5px;
    height: 3dvh;
    width: 30%;

    text-align: center;
    font-family: var(--main-font);
    font-size: var(--font-size-small);
    pointer-events: auto;
    font-size: 18px;
  }

  .custom-car-option {
    margin-top: var(--margin-large);
  }
}
