.destination {
  width: 80%;
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: var(--padding-button);
  margin-top: var(--margin-small);
  margin-left: var(--margin-left);
}

.destination::placeholder {
  color: white;
}

@media (max-width: 768px) {
  .destination {
    width: 90dvw; /* Make the input wider for smaller screens */
    font-size: var(--font-size-small);
    margin-left: var(--margin-left-small);
  }
}
