.destination-btn {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  margin-top: var(--margin-small);
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
  padding-left: 0.5dvw;
  letter-spacing: 0.04em;
}

.destination-btn::placeholder {
  color: white;
}
