#description-textarea {
  color: var(--white);
  cursor: pointer;
  margin-bottom: var(--margin-form-response);
  resize: none;
  overflow-y: hidden;
  height: 20px;
  min-height: 20px;
  /* text-align: left; */
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}

#description-textarea::placeholder {
  color: var(--placeholder);
}
