#description-textarea {
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  /* padding: var(--padding-text-area); */
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-medium);
  /* margin-left: var(--margin-left); */
  box-sizing: border-box;
  resize: none;
  overflow-y: hidden;
  /* min-height: 40px; */
}

#description-textarea::placeholder {
  color: white;
}
