#description-textarea {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-button);
  min-height: 40px;
  border: var(--transparent-border);
  border-radius: var(--border-radius-button);
  margin-top: var(--margin-top-button);
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
  padding-left: 0.5dvw;
  box-sizing: border-box;
  resize: none;
  overflow-y: hidden;
}
