.date-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--margin-btn);
  margin-left: var(--margin-small);
  margin-bottom: var(--margin-medium);
}

.calendar-icon-container {
  display: flex;
  align-items: center;
}

.date-icon {
  color: white;
  width: 60px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  text-align: center;
  border: none;
  /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */
  border-radius: var(--border-radius-btn);
  /* transition: all ease 0.3s; */
  box-sizing: border-box;
  cursor: pointer;
}

.date-icon .month {
  font-family: var(--main-font);
  font-size: var(--font-size-extra-small);
  /* background-color: rgba(255, 255, 255, 0.272); */

  background-color: var(--glass-background-light);
  width: 50px;
  height: 40%;
  padding: 5px 7px 5px 7px;

  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}

.date-icon .day {
  font-family: var(--main-font);
  font-size: var(--font-size-medium);
  background-color: var(--glass-background);
  width: 50px;
  height: 60%;
  padding: 5px 7px 5px 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}

.date-text-container {
  display: flex;
  flex-direction: column;
}

.date-text {
  font-family: var(--main-font);
  font-size: var(--font-size-medium);
  color: white;

  border: none;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.time-text {
  font-family: var(--main-font);
  font-size: 1.1rem;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.time-text img {
  margin-right: 5px; /* space between text and icon */
  width: 16px;
  height: 16px;
}

.date-icon.disabled,
.date-text.disabled,
.time-text.disabled {
  cursor: default; /* Removes the pointer cursor */
  pointer-events: none; /* Optional: disables all interaction */
}

#set-date-btn {
  text-align: left;
}

#set-time-btn {
  text-align: left;
  margin-top: var(--margin-btn);
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

.overlay {
  background: rgba(255, 255, 255, 0.15);
  /* 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;

  background-color: var(--glass-background);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px); */

  padding: 14px 28px;
  border-radius: var(--border-radius-btn);
  /* max-width: 600px; */
  min-width: 300px;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.calendar-button-container {
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
  margin-top: var(--margin-medium);
}

.calendar-button {
  color: white;
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  height: var(--height-button);
  padding: var(--padding-secondary-btn);
  border: var(--transparent-border);
  border-radius: var(--border-radius-btn);
  margin-top: var(--margin-small);
  box-sizing: border-box;
}
