@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100");

@import url("https://fonts.googleapis.com/css2?family=Gruppo:wght@400");

/* html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#2e2e36, #2c2b2d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
} */

html {
  font-family: "Gruppo", sans-serif;
  background: black;
  color: white;
  font-size: 16px;
}

/* Hide scroll bar in most modern browsers */
body {
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "LicensePlate";
  src: local("LicensePlate"),
    url("./assets/fonts/LicensePlate.ttf") format("truetype");
}

#root {
  height: 100dvh;
  color: rgb(255, 255, 255);
  --main-font: "Gruppo", sans-serif;
  /* --main-cursor: pointer; */

  /* spacing and sizing system */

  /* font size */

  --font-size-tiny: 12px;
  --font-size-extra-small: 16px;
  --font-size-small: 18px;
  --font-size-medium: 24px;
  --font-size-large: 32px;
  --font-size-xlarge: 48px;

  /* font-weight */
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-xbold: 800;

  /* letter-spacing */
  --letter-spacing-btn: 0.03em;
  --letter-spacing-title: 0.09em;

  /* padding */
  --padding-primary-btn: 10px 20px 10px 20px;
  --padding-secondary-btn: 10px 10px 10px 10px;
  --padding-form-response: 10px 0px 10px 10px;

  --padding-title: 5px 0 5px 10px;
  --padding-button: 5px 0 5px 10px;
  --padding-text-area: 8px 5px 5px 10px;

  /* border */
  --transparent-border: 1px solid rgba(255, 255, 255, 0.182);

  /* border radius */
  --border-radius-btn: 10px;

  /* margin */
  --margin-btn: 4dvh;

  --margin-small: 0.5dvh;
  --margin-medium: 2dvh;
  --margin-large: 10dvh;

  /* margin end*/

  --margin-xlarge: 12dvh;
  --margin-xxlarge: 24dvh;

  --margin-left-small: 2dvw;
  --margin-left: 16dvw;
  --margin-left-medium: 18dvw;
  --margin-left-large: 34dvw;
  --margin-left-xlarge: 50dvw;
  --margin-right-small: 2dvw;

  /* height  */
  --btn-height: 48px;

  /* width */

  /* titles */

  /* --height-title: 4dvh;
  --height-button: 4dvh; */

  /* colors */
  --white: white;
  --glass-background: rgba(255, 255, 255, 0.15);
  --glass-border: 1px solid rgba(255, 255, 255, 0.15);

  /* --glass-background-light: rgba(255, 255, 255, 0.75); */
  /* --grey: rgb(112, 112, 112); */

  --dark: rgba(12, 12, 12, 0.4);
  --transparent: rgba(2, 1, 1, 0.182);
  --transparent-border: 2px solid rgba(255, 255, 255, 0.182);
  --yellow-glow: 0 0 10px #fbee3e, 0 0 20px #fbff84, 0 0 30px #eaff00;
  --main-green: rgba(0, 255, 0, 0.5);
  --green-glow: 0 0 5px #04aa6da5, 0 0 10px #04aa6d8c,
    0 0 25px rgba(0, 255, 0, 0.5);
  --green-glow-hover: 0 0 5px #04aa6d, 0 0 15px #04aa6d,
    0 0 30px rgba(0, 255, 0, 0.5);
}

/* delete */
/* text-shadow: 0 0 10px #00bfff, 0 0 20px #00bfff, 0 0 30px #00bfff; Electric blue glow */
/* box-shadow: 0 0 5px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00BFFF; Electric blue glow */

/* #root::-webkit-scrollbar {
  height: 10px;
} */
