@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100");

@import url("https://fonts.googleapis.com/css2?family=Gruppo:wght@400");

/* html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#2e2e36, #2c2b2d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
} */

html {
  font-family: "Gruppo", sans-serif;
  background: black;
  color: white;
  font-size: 16px;
}

/* Hide scroll bar in most modern browsers */
body {
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "LicensePlate";
  src: local("LicensePlate"),
    url("./assets/fonts/LicensePlate.ttf") format("truetype");
}

#root {
  height: 100dvh;
  color: rgb(255, 255, 255);
  --main-font: "Gruppo", sans-serif;
  --main-cursor: pointer;

  /* font size */
  --font-size-tiny: 8em;
  --font-size-small: 1.2em;
  --font-size-medium: 1.6em;
  --font-size-large: 2.4em;
  --font-size-extra-large: 3.2em;
  /* --font-size-button: 1.2em; */

  /* border */

  /* border radius */
  --border-radius: 5px;
  --border-radius-button: 10px;

  /* titles */
  --font-size-title: 2.5em;
  --height-title: 4dvh;
  --padding-title: 5px;

  /* margins */
  --margin-small: 1dvh;
  --margin-medium: 2dvh;
  /* --margin-top-button: 1dvh; */

  --height-button: 4dvh;

  --padding-button: 15px;

  /* colors */
  --red: rgba(255, 0, 0, 0.288);
  --transparent: rgba(2, 1, 1, 0.182);
  --transparent-border: 2px solid rgba(255, 255, 255, 0.182);
  --yellow-glow: 0 0 10px #fbee3e, 0 0 20px #fbff84, 0 0 30px #eaff00;
  --main-green: #34bd3490;
  --green-glow: 0 0 5px #04aa6d, 0 0 15px #04aa6d, 0 0 30px rgba(0, 255, 0, 0.5);
  --green-glow-hover: 0 0 5px #04aa6d, 0 0 15px #04aa6d,
    0 0 30px rgba(0, 255, 0, 0.5);
}

/* delete */
/* text-shadow: 0 0 10px #00bfff, 0 0 20px #00bfff, 0 0 30px #00bfff; Electric blue glow */
/* box-shadow: 0 0 5px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00BFFF; Electric blue glow */

/* #root::-webkit-scrollbar {
  height: 10px;
} */
