@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100");
@import url("https://fonts.googleapis.com/css2?family=Gruppo:wght@400");

.form-response {
  color: var(--white);
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  padding: 10px 0px 10px 10px;
  border: var(--glass-border);
  border-radius: var(--border-radius-btn);
  background: var(--glass-background);
  width: 90dvw;
  margin-top: var(--margin-form-response);
  text-align: center;
  cursor: pointer;
}

.form-response::placeholder {
  color: var(--placeholder);
}

.form-response:focus {
  border: 1px solid var(--main-green);
  outline: none; /* Removes the focus outline */
  box-shadow: var(--green-glow);
}

.form-response.error {
  border: 1px solid var(--red);
  box-shadow: var(--red-glow);
}

.form-response.error:focus {
  box-shadow: var(--red-glow);
}

.form-response.disabled {
  cursor: default;
  /* padding: none; */
  border: none;
  /* margin: 0; */
}

/* html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#2e2e36, #2c2b2d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
} */

html {
  font-family: "Gruppo", sans-serif;
  background: black;
  color: white;
  font-size: 16px;
}

/* Hide scroll bar in most modern browsers */
body {
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%; /* Ensures the body covers the full height */
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling if content overflows */
}

@font-face {
  font-family: "LicensePlate";
  src: local("LicensePlate"),
    url("./assets/fonts/LicensePlate.ttf") format("truetype");
}

#root {
  height: 100vh;
  color: rgb(255, 255, 255);
  --main-font: "Gruppo", sans-serif;
  /* --main-cursor: pointer; */

  /* spacing and sizing system */

  /* font size */

  --font-small: 18px;

  --font-size-tiny: 14px;
  --font-size-extra-small: 16px;
  --font-size-small: 18px;
  --font-size-medium: 24px;
  --font-size-large: 32px;
  --font-size-xlarge: 48px;

  /* font-weight */
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-xbold: 800;

  /* letter-spacing */
  --letter-spacing-btn: 0.03em;
  --letter-spacing-title: 0.09em;

  /* padding */
  --padding-primary-btn: 10px 20px 10px 20px;
  --padding-secondary-btn: 10px 10px 10px 10px;
  --padding-form-response: 10px 0px 10px 10px;

  --padding-customize-trip: 5px 0px 5px 5px;

  --padding-small: 10px 2px 10px 2px;

  --padding-title: 5px 0 5px 10px;
  --padding-button: 5px 0 5px 10px;
  --padding-text-area: 8px 5px 5px 10px;

  --padding-cal: 500px 500px 500px 500px;

  /* border */
  --transparent-border: 1px solid rgba(255, 255, 255, 0.182);

  /* border radius */
  --border-radius-btn: 10px;

  /* margin */

  --m-small: 15px;
  --m-medium: 25px;

  --m-top: 2dvh;

  /* --margin-small: 15px;
  --margin-medium: 25px; */

  --margin-top: 5dvh;

  --margin-progressbar: 5dvh;
  --margin-form-field: 4dvh;
  --margin-form-response: 2dvh;
  --margin-btn: 5dvh;

  --margin-small: 0.5dvh;
  --margin-medium: 2dvh;
  --margin-large: 10dvh;

  /* margin end*/

  --margin-xlarge: 12dvh;
  --margin-xxlarge: 24dvh;

  --margin-left-small: 2dvw;
  --margin-left: 16dvw;
  --margin-left-medium: 18dvw;
  --margin-left-large: 34dvw;
  --margin-left-xlarge: 50dvw;
  --margin-right-small: 2dvw;

  /* height  */
  --btn-height: 48px;

  /* width */
  --btn-width: 60dvw;

  /* titles */

  /* --height-title: 4dvh;
  --height-button: 4dvh; */

  /* colors */
  --white: white;
  --placeholder: rgb(161, 161, 161);
  --glass-background: rgba(255, 255, 255, 0.15);
  --glass-border: 1px solid rgba(255, 255, 255, 0.15);

  --glass-background-light: rgba(255, 255, 255, 0.25);

  --glass-background-extra-light: rgba(255, 255, 255, 0.75);
  /* --grey: rgb(112, 112, 112); */

  --dark: rgba(12, 12, 12, 0.4);
  --v-dark: rgba(12, 12, 12, 0.7);
  --transparent: rgba(2, 1, 1, 0.182);
  --transparent-border: 2px solid rgba(255, 255, 255, 0.182);
  --yellow-glow: 0 0 10px #fbee3e, 0 0 20px #fbff84, 0 0 30px #eaff00;
  --main-green: rgba(0, 255, 0, 0.5);
  --main-green-solid: rgb(35, 179, 35);
  --green-glow: 0 0 5px #04aa6da5, 0 0 10px #04aa6d8c,
    0 0 25px rgba(0, 255, 0, 0.5);
  --green-glow-hover: 0 0 5px #04aa6d, 0 0 15px #04aa6d,
    0 0 30px rgba(0, 255, 0, 0.5);

  --red: rgb(255, 0, 0);
  --red-glow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0),
    0 0 25px rgb(255, 0, 0);

  --main-green-o: hsla(120, 100%, 50%, 0.5);

  --green-default: rgba(35, 179, 35, 0.802);
  --green-glow-default: inset 0 0 5px #34bd34, 0 0 10px #34bd34,
    0 0 15px #4bfe4b52;
}

/* delete */
/* text-shadow: 0 0 10px #00bfff, 0 0 20px #00bfff, 0 0 30px #00bfff; Electric blue glow */
/* box-shadow: 0 0 5px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00BFFF; Electric blue glow */

/* #root::-webkit-scrollbar {
  height: 10px;
} */

/* padding: top, right, bottom, left; */

/* .glass-effect {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
} */

/* form question container */
/* 
  margin-left: var(--margin-medium);
  width: 95dvw; */

/* Centering an element:
To center an element within its parent, you can use 
inset: 50% 50% and set transform: translate(-50%, -50%);  */

/* inset: <top> <right> <bottom> <left>; where each value represents the distance from the corresponding edge of the parent container. */
