.confirm-delete-modal {
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
  background: var(--dark);
  /* backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px); */
}

.modal-card-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  position: relative;
  padding: 32px;
  width: 80dvw;
  background-color: rgba(20, 20, 26, 0.85);
  border-radius: var(--border-radius-btn);
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.09) inset;
}

.modal-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.modal-primary-btn {
  color: var(--white);
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  height: var(--height-button);
  padding: var(--padding-secondary-btn);
  border: var(--transparent-border);
  border-radius: var(--border-radius-btn);
  margin-top: var(--margin-medium);
  box-sizing: border-box;
}

.modal-secondary-btn {
  color: var(--white);
  background: none;
  font-family: var(--main-font);
  font-size: var(--font-size-small);
  height: var(--height-button);
  padding: var(--padding-secondary-btn);
  border: var(--transparent-border);
  border-radius: var(--border-radius-btn);
  margin-top: var(--margin-medium);
  box-sizing: border-box;
}
